langgraph==0.2.53
langgraph-checkpoint-sqlite==2.0.6
langchain==0.3.18
langchain-openai==0.2.14
langchain-community==0.3.17
langsmith==0.3.11
tavily-python==0.5.0
fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==1.0.1
pydantic==2.10.4